*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.row{
display: flex;
flex-direction: column;
align-items: center;
}
.col{
display: flex;
}

.b-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%
}
.b-grid img {
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 5px solid #48ffc2;
    border-radius: 10px;
    background-color: aquamarine;
}
.score{
    display: flex;
    font-size: 30px;
    gap:20px

}
.win{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    font-weight: 800px;
}