<nav class="menu">
    <div class="menu-game">
        <a class="menu-game--title" routerLink="/tesoro">Tesoro</a>
        <img class="menu-game--img" src="../../../assets/exercise-4/chest.png" alt="tesoro"/>
    </div>
    <div class="menu-game">
        <a class="menu-game--title" routerLink="/mole">Mole</a>
        <img class="menu-game--img" src="../../../assets/exercise-2/mole.png" alt="mole"/>
    </div>
    <div class="menu-game">
        <a class="menu-game--title" routerLink="/memory">Memory</a>
        <img class="menu-game--img" src="../../../assets/memory.png" alt="memory"/>
    </div>
    <div class="menu-game">
        <a class="menu-game--title" routerLink="/whoiswho">Who is Who</a>
        <img class="menu-game--img" src="../../../assets/whosiwho.jpg" alt="whoiswho"/>
    </div>
 
   
</nav>
